
@{
    ViewBag.Title = "Partner Portal | Forgot Password";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en-US" class="no-js" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Expires" content="30" />
    <meta http-equiv="Cache-Control" content="Public" />
    <meta name="google-site-verification" content="qG1hz2stDuxUAXRF0SRp5dsnMOIW1IKdjCnxqFp7xJA" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/star_icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <style>
        @Html.Action("GetFileContent", "Utility", new {path = "~/Styles/PartnerPortal/site.css"})
         @Html.Action("GetFileContent", "Utility", new {path = "~/Styles/homeStyle.css"})
        @Html.Action("GetFileContent", "Utility", new {path = "~/Styles/Editor_style.css"})
        @Html.Action("GetFileContent", "Utility", new {path = "~/Styles/Editor2.css"})

        .content {
            @*margin: 5%;*@
            margin-top: 1%;
            margin-bottom: 0;
           background: #093883 url(@Url.Content("~/Images/sGNO4U5-.jpeg")) no-repeat fixed center;
            min-height: 400px;
            width: 100%;
            height: 88%;
        }


    </style>

    <style>
        @@media only screen and (max-width: 1470px) and (min-width: 1400px) {
            .landingRightPanel {
                width: 95% !important;
            }
        }


        @@media only screen and (min-width: 1200px) and (max-width: 1400px) {
            .fusion-one-third { width: 40% !important; }
            .fusion-two-third { width: 60% !important; }
        }
        @@media only screen and (min-width: 1050px) and (max-width: 1199px) {
            .fusion-one-third { width: 44% !important; }
            .fusion-two-third { width: 56% !important; }
        }
        @@media only screen and (min-width: 990px) and (max-width: 1049px) {
            .fusion-one-third { width: 48% !important; }
            .fusion-two-third { width: 52% !important; }
        }
        @@media only screen and (max-width: 989px) and (min-width: 0) {
            .fusion-one-third { width: 100% !important; text-align: center !important;}
            .fusion-two-third { width: 100% !important;  text-align: center !important;}
            .landingLeftPanel {
                width: 80% !important;   
            }
            .landingRightPanel {
                width: 80% !important;   
            }
        }

        .mainContent {
            min-height: 600px;
            display: block;
            text-align: center;

        }


    </style>


</head>
<body style="width: 100%; height: 100%; margin: auto;">
<div class="mainContent">
    @{ Html.RenderAction("GetPageHtml", "Utility", new {id = 3}); }


    <div class="fusion-fullwidth fullwidth-box content" style="text-align: left; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" id="">
        <div class="fusion-row">
            <div class="fusion-column-wrapper">
                <div style="margin-top: 160px; margin-right: 10px; margin-bottom: 10px; text-align: center; min-height: 600px;">
                    @Html.Partial("Partials/PasswordResetSentPartial")
                </div>
            </div>


        </div>
            <br/>
    <br/><br/><br/>
    </div>


</div>

</body>
</html>
